<!DOCTYPE html>
<html>
<head>
    <title>Engineering Calculator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>
<body>
    <div id="app" class="container mt-4">
        <h1 class="mb-4">Engineering Calculator</h1>
        <div class="jumbotron">
            <h2>{{ a }} {{ operation }} {{ b }}</h2>
            <h2 v-if="result != null">Result: {{ result }}</h2>
        </div>

        <div class="row">
            <div class="col-9">
                <button v-for="num in numbers" @click="appendNum(num)" class="btn btn-secondary btn-lg mr-1 mb-1">{{ num }}</button>
            </div>
            <div class="col-3">
                <button @click="calculate" class="btn btn-primary btn-lg">=</button>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-9">
                <button v-for="op in operations" @click="setOperation(op)" class="btn btn-secondary btn-lg mr-1 mb-1">{{ op }}</button>
            </div>
            <div class="col-3">
                <button @click="clear" class="btn btn-danger btn-lg">C</button>
            </div>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                a: '',
                b: '',
                operation: null,
                result: null,
                numbers: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0', '.'],
                operations: ['+', '-', '*', '/', 'sqrt', 'pow', 'log', 'sin', 'cos', 'tan']
            },
            methods: {
                appendNum: function(num) {
                    if (this.operation) {
                        this.b += num;
                    } else {
                        this.a += num;
                    }
                },
                setOperation: function(op) {
                    this.operation = op;
                },
                calculate: function() {
                    var vm = this;
                    axios.post('http://localhost:5000/calculator/', {
                        a: vm.a,
                        b: vm.b,
                        operation: vm.operation
                    })
                    .then(function(response) {
                        vm.result = response.data.result;
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                },
                clear: function() {
                    this.a = '';
                    this.b = '';
                    this.operation = null;
                    this.result = null;
                }
            }
        });
    </script>
</body>
</html>